<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
  <div class="container mt-5">
      <div class="row">
          <dlv class="col-md-6 mx-auto">
              <form action="/bsBoard/loginCheck">
                  <div class="my-3">
                      <label for="userId" class="form-label">ID : </label>
                      <input class="form-control" id="userId" name="userId" type="text">
                  </div>
                  <div class="my-3">
                      <label for="userPw" class="form-label">PW : </label>
                      <input class="form-control" id="userPw" name="userPw" type="text">
                  </div>
                  <div class="d-grid gap-3">
                      <button type="submit" class="btn btn-primary">로그인</button>
                      <button type="reset" class="btn btn-secondary">다시쓰기</button>
                      <a class="btn btn-link" th:href="@{/bsBoard/bsBoardList.do}">목록으로</a>
                  </div>
              </form>
          </dlv>
      </div>
  </div>

</body>
</html>