<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
  <div class="container">
      <h3>resource/static 아래에 있는 폴더</h3>
      <img src="/images/cat/d3.jpg">
      <h3>외부 폴더로 등록한 폴더</h3>
      <img src="/img/d1.jpg">
        <hr>
      <img src="/res/d3.jpg">
      <img src="/res/d2.jpg">

  </div>

</body>
</html>