<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
    <main class="container">
        <div class="row mt-5">
            <div class="col-md">
                <div th:if="${userId}!=null">
                    <p class="text-center display-6 text-primary">로그인 상태일 경우 볼 수 있는 화면</p>
                </div>
                <div th:unless="${userId}!=null">
                    <p class="text-center display-6 text-secondary">로그인 상태가 아닐시 볼 수 있는 화면</p>
                </div>
            </div>
        </div>
    </main>
    <footer class="container-fluid mt-5 p-5 border-top">
        <p class="lead text-muted text-center">made by bitc</p>
    </footer>

</body>
</html>